{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug": true
    }]
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
